<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accounts Information</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        {{form}}
        <button type="submit">Add new Account</button>
    </form>

    <table>
        <thead>
        <tr>
            <td>Sr.</td>
            <td>User name</td>
            <td>Bank Name</td>
            <td>Balance</td>
        </tr>
        </thead>
        <tbody>
        {% for account in accounts %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{account.username}}</td>
                <td>{{account.account_bank}}</td>
                <td>{{account.account_balance}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>