<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of all banks</title>
</head>
<body>
<a href="{% url 'logout' %}">Logout</a>
    <form method="POST">
        {% csrf_token %}
        {{form}}
        <button type="submit">Add Bank</button>
    </form>

    <table>
        <thead>
        <tr>
            <td>Sr.</td>
            <td>Bank Name</td>
            <td>Branch</td>
            <td>Is Islamic</td>
        </tr>
        </thead>
        <tbody>
        {% for bank in banks %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{bank.bank_name}}</td>
                <td>{{bank.branch}}</td>
                <td>{{bank.is_islamic}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>